<div class="contenedor">

  <img class="logo" src="assets/images/home/logo.png" alt="">
  <div class="mainContainer">

    <div class="containerLeft">
      <div class="titleLeft">Alimentar bien a tu perro es más fácil que nunca<span style="color:#EE7333">.</span></div>
      <div class="descriptionLeft">La nueva alimentación canina ha llegado. Con Kibus, podrás ofrecer a tu compañero
        comida sana, rica y recién cocinada de una forma fácil y cómoda</div>
      <div class="buttonsContainer">
        <a href="#slider" class="reserve">Reserva Ahora </a>
        <a href="" class="know">Quiero Saber Más <img class="arrowIcon" src="assets/images/home/arrow.svg" alt=""></a>
      </div>
    </div>

    <img class="rightContainer" src="assets/images/home/imagen.png" alt="">


  </div>

</div>
