<div class="contenedor">

  <img class="iconKibus" src="assets/images/footer/logo_footer.png" alt="">

  <div class="frame">
    <div class="aboutGroup">
      <div class="aboutTitle titles">Sobre KIBUS</div>
      <div class="aboutDescriptions descriptions">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </div>
    </div>

    <div class="policiesGroup">
      <div class="policiesTitle titles">Políticas</div>
      <div class="policiesDescriptions descriptions">Políticas de Privacidad</div>
      <div class="policiesDescriptions descriptions">Condiciones de uso</div>
      <div class="policiesDescriptions descriptions">Cookies</div>
      <div class="policiesDescriptions descriptions" id="faq">FAQ</div>
    </div>

    <div class="contactUs">
      <div class="titleContactUs">Contáctenos</div>
      <div>Location</div>
      <div class="descContactUs">Teléfono</div>
    </div>


    <div class="contactGroup">
      <img class="contactIcon" src="assets/images/footer/facebook.png" alt="">
      <img class="contactIcon" src="assets/images/footer/instagram.png" alt="">
      <img class="contactIcon" src="assets/images/footer/youtube.png" alt="">
    </div>

    <div class="payments">
      <div class="paymentsTitle titles">Métodos de pago</div>
      <div class="groupIconsPayment">
        <img class="paymentsIcon" src="assets/images/footer/Group_65.png" alt="">
        <img class="paymentsIcon" src="assets/images/footer/visa.png" alt="">
        <img class="paymentsIcon" src="assets/images/footer/apple_pay.png" alt="">
        <img class="paymentsIcon" src="assets/images/footer/google_pay.png" alt="">
      </div>
    </div>
  </div>
</div>
