<div class="contenedor">
  <div class="mainContainer">
    <div class="leftcontent">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active ">
            <img class="imgCarousel" src="assets/images/featuredHardware/pictureDog.png" alt="Los Angeles">
          </div>
          <div class="item">
            <img class="imgCarousel" src="assets/images/featuredHardware/pictureDog.png" alt="Chicago">
          </div>

          <div class="item">
            <img class="imgCarousel" src="assets/images/featuredHardware/pictureDog.png" alt="New york">
          </div>

          <div class="item">
            <img class="imgCarousel" src="assets/images/featuredHardware/pictureDog.png" alt="Chicago">
          </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <img class="flechasCarrusel" src="assets/images/featuredHardware/leftArrow.png" alt="">
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <img class="flechasCarrusel" src="assets/images/featuredHardware/rightArrow.png" alt="">
          </a>
        </div>

      </div>
    </div>


    <div class="contentRight">
      <div class="title">Mejor para ellos, más fácil y cómodo para ti</div>
      <div class="description">Con Kibus, nunca tendrás que preocuparte de cómo ofrecer una dieta sana y natural a tu
        perro de forma cómoda y rápida. Nuestro dispositivo cocina automáticamente la cantidad exacta en cada comida e
        incluso lo puedes programar a través de la app. Tu perro disfrutará comida de casera de primera calidad, con el
        mínimo esfuerzo.</div>
      <div class="btnGroup">
        <a class="btnReserve" href="#footer">Reserva Ahora</a>
        <a class="btnKnow" href="">Quiero Saber Más <img class="arrowIcon"
            src="assets/images/featuredHardware/arrow.svg" alt=""></a>
      </div>
    </div>

  </div>

</div>
